.post-details {
  background-color: var(--mantle);
  border-radius: 10px;
  padding: 10px;
  margin-top: 1em;
  display: flexbox;
}

.rss-icon {
  position: relative;

  .fa-solid {
    position: absolute;
    font-size: 1rem;
    bottom: 50%;
  }
}

button.tag-btn {
  font-family: "LXGW WenKai Mono TC";

  &.selected {
    font-weight: bold;
    border: var(--pink) calc(0.8 * var(--space-xxs)) solid;

    &:before {
      font-family: "Nerd Font";
      content: " ";
      color: var(--pink);
    }
  }

  margin: var(--space-xxs);
  padding: var(--space-xxs) var(--space-xs);
  font-size: 80%;
  color: var(--text) !important;
  background-color: var(--crust);
  border-radius: 9999px;
  border: none;
  transition: all 0.05s;
}

.row,
.tag-list {
  display: inline-flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
  height: 100%;
}

.tag-list {
  padding-left: 0.5em;
  font-size: 80%;
}

.tag {
  font-family: "LXGW WenKai Mono TC";
  margin-left: var(--space-xxs);
  color: var(--text) !important;
  background-color: var(--crust);
  border-radius: 9999px;
  padding: var(--space-xxs) var(--space-xs);
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

a.post-title {
  font-size: 1.5rem;
}

.post-date {
  &:before {
    font-family: "Nerd Font", monospace;
    content: "󰢧";
    margin-right: 10px;
  }

  color: var(--subtext1);
}

.desc {
  &:before {
    font-family: "Nerd Font", monospace;
    content: "󰶻";
    margin-right: 10px;
  }

  color: var(--subtext0);
}