@use "@catppuccin/palette/scss/catppuccin" as *;
@use "sass:string";
@use "sass:map";

$theme-data: (
  "latte": ("scheme": light,
    "inverted-text": var(--base),
    "selection-color": var(--blue),
    "accent": var(--mauve),
  ),
  "macchiato": ("scheme": dark,
    "inverted-text": var(--crust),
    "selection-color": var(--mauve),
    "accent": var(--pink),
  ),
  "frappe": ("scheme": dark,
    "inverted-text": var(--crust),
    "selection-color": var(--mauve),
    "accent": var(--peach),
  ),
  "mocha": ("scheme": dark,
    "inverted-text": var(--crust),
    "selection-color": var(--mauve),
    "accent": var(--green),
  ),
);

@mixin theme($flavor) {
  @each $color, $value in map.get($palette, $flavor) {
    --#{$color}: #{$value};
  }

  --inverted-text: #{map.get(map.get($theme-data, $flavor), "inverted-text")};
  --selection-color: #{map.get(map.get($theme-data, $flavor), "accent")};
  --accent: #{map.get(map.get($theme-data, $flavor), "accent")};
}

:where([data-theme="system"]) {
  color-scheme: light dark;
  @include theme("mocha");

  @media (prefers-color-scheme: light) {
    @include theme("latte");
  }
}

@each $flavor, $data in $theme-data {
  :where([data-theme="#{$flavor}"]) {
    color-scheme: map.get($data, "scheme");
    @include theme($flavor);
  }
}

::selection {
  background: var(--selection-color);
  color: var(--inverted-text);
  text-shadow: none;
}

::-moz-selection {
  background: var(--selection-color);
  color: var(--inverted-text);
  text-shadow: none;
}