:is(h2, h3, h4, h5, h6) {
  scroll-margin-top: 10px;

  position: relative;
  cursor: pointer;

  &:before {
    content: "#";
    position: absolute;
    right: 100%;
    margin-right: 0.2em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--sky);
    font-family: "Roboto";
    font-weight: bolder;
    font-style: normal;

    text-decoration-style: dotted;
    text-decoration-line: underline;
  }
}

h1 {
  display: flex;
  justify-content: center;
}

pre[class^="language-"] {
  border-left: var(--border-big) solid var(--sky) !important;
  margin-left: 0 !important;
  background-color: var(--surface0);
  display: box;

  div.language-label {
    background-color: var(--surface1);
    padding-left: 1em;
  }
}

code {
  font-family: "Nerd Font", monospace;
  background-color: var(--surface0);
}

code:not([class^="language-"]) {

  &:before,
  &:after {
    content: '`'
  }
}

code[class^="language-"] {
  font-size: 0.8em;
  padding-right: 1em;
  padding-left: 1em;
  display: block;
  overflow: auto;
  tab-size: 2;

  * {
    font-family: inherit;
  }
}

code.language-brainfuck {
  font-variant-ligatures: none;
}

blockquote {
  p {
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;

  td,
  th {
    padding: 5px 10px 5px 10px;
  }

  tr,
  th,
  td,
  thead,
  tbody {
    border: var(--border-small) solid var(--overlay0);
  }

  thead {
    tr {
      background-color: var(--surface0);
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--mantle);
    }

    tr:nth-child(odd) {
      background-color: var(--base);
    }
  }
}

li.task-list-item {}

input[type="checkbox"] {
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  position: relative;
  border: var(--border-small) solid var(--overlay1);
  border-radius: 10px;
  background-color: var(--surface1);
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: '';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: var(--surface0);
  pointer-events: none;
}

input[type="checkbox"]:checked {
  background-color: var(--green);
  border-color: var(--subtext0);
}

input[type="checkbox"]:checked::after {
  font-size: 1.2em;
  content: '✔';
}

a.footnote-backref,
a.footnote-ref {
  text-decoration: none;
  margin: 0.2em;
}