@use 'assets/theme.scss';

// Medium, Bold
@font-face {
  font-family: "Fira Code";
  src: url('/fonts/Fira_Code/FiraCode-VariableFont_wght-subset.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Victor Mono";
  src: url('/fonts/Victor_Mono/VictorMono-Italic-VariableFont_wght-subset.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght-subset.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Nerd Font";
  src: url('/fonts/Fira_Code_NF/FiraCodeNerdFont-Medium-subset.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nerd Font";
  src: url('/fonts/Fira_Code_NF/FiraCodeNerdFont-Bold-subset.woff2') format('woff2');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nerd Font";
  src: url('/fonts/Victor_Mono_NF/VictorMonoNerdFontMono-MediumItalic-subset.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lexend";
  src: url('/fonts/Lexend/Lexend-VariableFont_wght-subset.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai Mono TC";
  src: url('/fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Regular-subset.woff2') format('woff2');
  font-display: swap;
}

/* @import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=block'); */

* {
  /* transition: color 1.3s ease, background-color .3s ease; */

  scrollbar-color: var(--accent) var(--mantle);
  scrollbar-width: thin;

  &:focus-visible {
    outline: 1px solid var(--accent);
  }

  &:visited {
    text-decoration: none;
  }
}

:root {
  --border-small: 1px;
  --border-smallish: 2px;
  --border-med: 3px;
  --border-big: 5px;

  --border-radius-small: 3px;
  --border-radius-normal: 6px;
  --border-radius-large: 12px;


  --base-unit: 1em;
  --space-xxxs: calc(.5 * var(--space-xxs));
  --space-xxs: calc(.25 * var(--base-unit));
  --space-xs: calc(.5 * var(--base-unit));
  --space-sm: calc(.75 * var(--base-unit));
  --space-md: calc(1.25 * var(--base-unit));
  --space-lg: calc(2 * var(--base-unit));
  --space-xl: calc(3.25 * var(--base-unit));
  --space-xxl: calc(5.25 * var(--base-unit));
  --padding-body: clamp(20px, 5vw, 500px);


  --space-nav: calc(2 * var(--base-unit));
  --height-nav: calc(2 * var(--base-unit));

  @media (max-width: 480px) {
    font-size: 14px;
  }

  @media (min-width: 481px) and (max-width: 1200px) {
    font-size: calc(14px + (18 - 14) * ((100vw - 480px) / (1200 - 480)));
  }

  @media (min-width: 1201px) {
    font-size: 18px;
  }

  --max-width-content: 1500px;
  --padding-page-content: 5%;
  --width-page-content-def: 50%;

  --screen-width-full: 1500px;
}

em {
  font-family: "Victor Mono", monospace;
}

hr {
  color: var(--overlay0);
  border-color: var(--overlay0);
}

html {
  background-color: var(--base);
  background:
    repeating-linear-gradient(-45deg, var(--base), var(--crust) 50px, var(--base) 50px);
  background-attachment: fixed;
  background-size: 10000px 10000px;
  color: var(--text);
  scroll-behavior: smooth;
  font-family: "Lexend";
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: transparent;
  height: 100%;
}

button {
  font: inherit;
  color: var(--text);

  &:hover {
    cursor: pointer;
  }
}

a {
  display: inline-block;
  font-weight: bold;
  color: var(--accent);
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;

  &:hover {
    /* color: var(--mauve) !important; */
    /* text-decoration-color: var(--mauve) !important; */
    text-shadow: 0px 0px 5px;
    text-decoration-style: wavy;
  }
}

a[href]:not(:where([href^="#"],
    [href^="javascript:" i],
    [href^="/"]:not([href^="//"]),
    [href*="//razv.xyz"])):after {
  content: '↗';
  font-family: 'Nerd Font';
  text-decoration: none;
  position: relative;
  top: -0.2rem;
  font-size: 0.8em;
  display: inline-block;
}

blockquote {
  border: 0;
  border-left: var(--border-big) solid var(--surface2);
  padding-left: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  line-break: strict;
}

img {
  max-width: 100%;
  border-radius: 20px;

  @media only screen and (max-width: 600px) {
    min-width: 60%
  }
}

:is(h2, h3, h4, h5, h6) {
  scroll-margin-top: 10px;

  position: relative;
  cursor: pointer;

  &:before {
    content: "#";
    position: absolute;
    right: 100%;
    margin-right: 0.2em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--accent);
    font-family: "Roboto";
    font-weight: bolder;
    font-style: normal;

    text-decoration-style: dotted;
    text-decoration-line: underline;
  }
}

h1 {
  display: flex;
  justify-content: center;
}

pre[class^="language-"] {
  border-radius: var(--border-radius-normal);
  border-left: var(--border-big) solid var(--accent) !important;
  margin-left: 0 !important;
  background-color: var(--surface0);

  overflow: hidden;

  div.language-label {
    background-color: var(--surface1);
    padding-left: 1em;
  }
}

code {
  font-family: "Nerd Font", monospace;
  background-color: var(--mantle);
}

div.entry code {
  background-color: var(--crust);
}

code:not([class^="language-"]) {

  &:before,
  &:after {
    content: '`';
    color: var(--subtext0);
  }
}

code[class^="language-"] {
  font-size: 0.8em;
  padding-right: 1em;
  padding-left: 1em;
  display: block;
  overflow: auto;
  tab-size: 2;

  * {
    font-family: inherit;
  }
}

code.language-brainfuck {
  font-variant-ligatures: none;
}

blockquote {
  p {
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;

  td,
  th {
    padding: 5px 10px 5px 10px;
  }

  tr,
  th,
  td,
  thead,
  tbody {
    border: var(--border-small) solid var(--overlay0);
  }

  thead {
    tr {
      background-color: var(--surface0);
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--mantle);
    }

    tr:nth-child(odd) {
      background-color: var(--base);
    }
  }
}

li.task-list-item {}

input[type="checkbox"] {
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  position: relative;
  border: var(--border-small) solid var(--overlay1);
  border-radius: 10px;
  background-color: var(--surface1);
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: '';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: var(--surface0);
  pointer-events: none;
}

input[type="checkbox"]:checked {
  background-color: var(--green);
  border-color: var(--subtext0);
}

input[type="checkbox"]:checked::after {
  font-size: 1.2em;
  content: '✔';
}

a.footnote-backref,
a.footnote-ref {
  text-decoration: none;
  margin: 0.2em;
}